# Dependencias y construcciones locales
node_modules
.next
out
build

# Control de versiones y CI/CD
.git
.gitignore
Dockerfile*
.dockerignore
azure-pipelines.yml
aws/

# Archivos de entorno y credenciales (Prevención de fugas de secretos)
.env
.env.*
!.env.example

# Documentación y logs
*.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store

